In [1]:
import pandas as pd
import json

In [2]:
restaurantes = pd.read_csv("restaurantes.csv")

In [5]:
display(restaurantes.head())
restaurantes["service_link"].describe()

,name,service,latitude,longitude,address,zone,service_link,image
0,Simonetta Pizzería,Uber Eats,NaN,NaN,NaN,Providencia,https.www.ubereats.com/cl-en/store/simonetta-p...,NaN
1,Little Caesars,Uber Eats,NaN,NaN,NaN,Providencia,https.www.ubereats.com/cl-en/store/little-caes...,NaN
2,Waldo's,Uber Eats,NaN,NaN,NaN,Providencia,https.www.ubereats.com/cl-en/store/waldos-prov...,NaN
3,Big O' Pizza,Uber Eats,NaN,NaN,NaN,Providencia,https.www.ubereats.com/cl-en/store/big-o-pizza...,NaN
4,Tropera Drugstore,Uber Eats,NaN,NaN,NaN,Providencia,https.www.ubereats.com/cl-en/store/tropera-dru...,NaN

count                                                  2923
unique                                                 1348
top       https.www.ubereats.com/cl-en/store/killer-food...
freq                                                     13
Name: service_link, dtype: object